@import "tailwindcss";

@theme {
  --color-primary: #b9026d;
  --color-explore-background: #fefcef;
  --color-explore-text: #8b6000;
  --color-footer: #ececec;
  --color-text-orange: #fea33d;
  --breakpoint-xs: 470px;
}

@layer utilities {
  .mask-fade {
    mask-image: linear-gradient(black 80%, transparent);
    -webkit-mask-image: linear-gradient(black 80%, transparent);
  }
}

html,
body {
  background: black;
  overscroll-behavior: none;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

:root {
  --header-height: 130px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
